*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.banner{
    height:90vh;
    width: 100%; 
    background-image: linear-gradient(rgb(0,0,0,0.812),rgb(0,0,0,0.669)),url("images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
}
.content{
    color: #ffffffce;
    text-align: center;
    width: 70%;
}
.content h2{
    font-size: 24px;
    color: #db714e;
    text-transform: uppercase;
}
.content p{
    font-size: 13px;
    margin: 15px 0px;
}
.content button{
    background-color: #04aa6d;
    border: none;
    border-radius: 3px;
    font-weight: 400;
    color: white;
    padding: 6px 14px;
    font-size: 10px;
    cursor: pointer;
}
.content button:hover{
    background-color:#8a5b80;
    transition: 0.5s ease-in;
}